.tox/
__pycache__/
*.pyc
placeholders/
*.charm
build/
coverage
.coverage

# development artifacts
clouds.yaml
.vscode/
.idea

venv/
*.py[cod]
.mypy_cache
*.egg-info/

# BEGIN VALE WORKFLOW IGNORE
.vale/styles/*
!.vale/styles/local
!.vale/styles/config/

.vale/styles/config/*
!.vale/styles/config/vocabularies/

.vale/styles/config/vocabularies/*
!.vale/styles/config/vocabularies/local
# END VALE WORKFLOW IGNORE
