ghapi==1.0.10
jinja2==3.1.6
fabric==3.2.2
ops==3.5.2
pylxd @ git+https://github.com/canonical/pylxd
requests==2.32.5
typing-extensions==4.15.0
cryptography==46.0.5
pydantic==1.10.26
cosl==1.4.0
PyYAML==6.0.3
pyOpenSSL==25.3.0
