ghapi
jinja2
fabric >=3,<4
ops>=2.8
pylxd @ git+https://github.com/canonical/pylxd
requests
typing-extensions
cryptography==45.0.5
pydantic ==1.10.22
cosl ==1.0.0
PyYAML ==6.0.*
pyOpenSSL==25.1.0
maturin==1.9.4 # issue with Cargo lock v4 on more recent version
