# Copyright 2023 Canonical Ltd.
# See LICENSE file for licensing details.

options:
  path:
    type: string
    default: ""
    description: >
      The organization or the repository to register the self-hosted runners. For repository the
      path should be in the "{owner}/{repo}" format.
  group:
    type: string
    default: "default"
    description: >
      The organization runner group to register the self-hosted runner under. This has no effect on
      runners under a repository.
  token:
    type: string
    default: ""
    description: The GitHub Personal Access Token for registering the self-hosted runners.
  virtual-machines:
    type: int
    default: 0
    description: >
      The number of virtual machine runners. This charm will spawn or destroy virtual machines
      runners to match this setting.
  vm-cpu:
    type: int
    default: 2
    description: >
      The number of CPUs used per virtual machine runner.
  vm-memory:
    type: string
    default: 7GiB
    description: >
      Amount of memory to allocate per virtual machine runner. Positive integers with KiB, MiB, GiB,
      TiB, PiB, EiB suffix.
  vm-disk:
    type: string
    default: 10GiB
    description: >
      Amount of disk space to allocate to root disk for virtual machine runner. Positive integers
      with KiB, MiB, GiB, TiB, PiB, EiB suffix.
  reconcile-interval:
    type: int
    default: 10
    description: >
      Minutes between each reconciliation between the current state and the target state of the
      runners. On reconciliation the charm polls the state of runners, such as, the number of
      container runners, and see if actions are needed. A random delay of 25% is added. Changes to
      this time interval will apply when next interval is triggered.
  test-mode:
    type: string
    description: >
      When set to 'insecure', the charm test mode is activated, which may deactivate some security
      hardening measures.
  denylist:
    type: string
    default: ""
    description: >
      A comma separated list of IPv4 networks in CIDR notation that runners can not access.
      The runner will always have access to essential services such as DHCP and DNS regardless
      of the denylist configuration.
