ghapi
jinja2
ops
pylxd @ git+https://github.com/canonical/pylxd
requests
typing-extensions
# Newer version does not work with default OpenSSL version on jammy.
cryptography <= 38.0.4
pydantic == 1.10.3