#  Copyright 2024 Canonical Ltd.
#  See LICENSE file for licensing details.
clouds:
  testcloud:
    auth:
      auth_url: ${auth_url}
      password: ${password}
      project_domain_name: ${project_domain_name}
      project_name: ${project_name}
      user_domain_name: ${user_domain_name}
      username: ${username}
    region_name: ${region_name}
