# coding: utf-8

"""
    Job Manager API

    A modern job management system

    The version of the OpenAPI document: 2.0.0
    Generated by OpenAPI Generator (https://openapi-generator.tech)

    Do not edit the class manually.
"""  # noqa: E501


import re  # noqa: F401
import io
import warnings

from pydantic import validate_arguments, ValidationError

from typing_extensions import Annotated
from pydantic import Field, StrictInt

from typing import Any, Dict

from jobmanager_client.models.get_runner_health_v1_runner_runner_id_health_get200_response import GetRunnerHealthV1RunnerRunnerIdHealthGet200Response
from jobmanager_client.models.register_runner_v1_runner_register_post200_response import RegisterRunnerV1RunnerRegisterPost200Response
from jobmanager_client.models.register_runner_v1_runner_register_post_request import RegisterRunnerV1RunnerRegisterPostRequest
from jobmanager_client.models.update_runner_health_v1_runner_runner_id_health_put_request import UpdateRunnerHealthV1RunnerRunnerIdHealthPutRequest

from jobmanager_client.api_client import ApiClient
from jobmanager_client.api_response import ApiResponse
from jobmanager_client.exceptions import (  # noqa: F401
    ApiTypeError,
    ApiValueError
)


class RunnersApi:
    """NOTE: This class is auto generated by OpenAPI Generator
    Ref: https://openapi-generator.tech

    Do not edit the class manually.
    """

    def __init__(self, api_client=None) -> None:
        if api_client is None:
            api_client = ApiClient.get_default()
        self.api_client = api_client

    @validate_arguments
    def get_runner_health_v1_runner_runner_id_health_get(self, runner_id : Annotated[StrictInt, Field(..., description="Runner ID that can be used to retrieve the builder status")], **kwargs) -> GetRunnerHealthV1RunnerRunnerIdHealthGet200Response:  # noqa: E501
        """Get Runner Health  # noqa: E501

        This endpoint is used by the Builder Manager to ask for builder status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_runner_health_v1_runner_runner_id_health_get(runner_id, async_req=True)
        >>> result = thread.get()

        :param runner_id: Runner ID that can be used to retrieve the builder status (required)
        :type runner_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: GetRunnerHealthV1RunnerRunnerIdHealthGet200Response
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the get_runner_health_v1_runner_runner_id_health_get_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.get_runner_health_v1_runner_runner_id_health_get_with_http_info(runner_id, **kwargs)  # noqa: E501

    @validate_arguments
    def get_runner_health_v1_runner_runner_id_health_get_with_http_info(self, runner_id : Annotated[StrictInt, Field(..., description="Runner ID that can be used to retrieve the builder status")], **kwargs) -> ApiResponse:  # noqa: E501
        """Get Runner Health  # noqa: E501

        This endpoint is used by the Builder Manager to ask for builder status.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.get_runner_health_v1_runner_runner_id_health_get_with_http_info(runner_id, async_req=True)
        >>> result = thread.get()

        :param runner_id: Runner ID that can be used to retrieve the builder status (required)
        :type runner_id: int
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(GetRunnerHealthV1RunnerRunnerIdHealthGet200Response, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'runner_id'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method get_runner_health_v1_runner_runner_id_health_get" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['runner_id'] is not None:
            _path_params['runner_id'] = _params['runner_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # authentication setting
        _auth_settings = ['APIAccessToken']  # noqa: E501

        _response_types_map = {
            '200': "GetRunnerHealthV1RunnerRunnerIdHealthGet200Response",
        }

        return self.api_client.call_api(
            '/v1/runner/{runner_id}/health', 'GET',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def register_runner_v1_runner_register_post(self, register_runner_v1_runner_register_post_request : RegisterRunnerV1RunnerRegisterPostRequest, **kwargs) -> RegisterRunnerV1RunnerRegisterPost200Response:  # noqa: E501
        """Register Runner  # noqa: E501

        This endpoint is used by the Builder Manager to register a new runner. It sends metadata and its current capabilities so it can be tracked and assigned jobs.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.register_runner_v1_runner_register_post(register_runner_v1_runner_register_post_request, async_req=True)
        >>> result = thread.get()

        :param register_runner_v1_runner_register_post_request: (required)
        :type register_runner_v1_runner_register_post_request: RegisterRunnerV1RunnerRegisterPostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: RegisterRunnerV1RunnerRegisterPost200Response
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the register_runner_v1_runner_register_post_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.register_runner_v1_runner_register_post_with_http_info(register_runner_v1_runner_register_post_request, **kwargs)  # noqa: E501

    @validate_arguments
    def register_runner_v1_runner_register_post_with_http_info(self, register_runner_v1_runner_register_post_request : RegisterRunnerV1RunnerRegisterPostRequest, **kwargs) -> ApiResponse:  # noqa: E501
        """Register Runner  # noqa: E501

        This endpoint is used by the Builder Manager to register a new runner. It sends metadata and its current capabilities so it can be tracked and assigned jobs.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.register_runner_v1_runner_register_post_with_http_info(register_runner_v1_runner_register_post_request, async_req=True)
        >>> result = thread.get()

        :param register_runner_v1_runner_register_post_request: (required)
        :type register_runner_v1_runner_register_post_request: RegisterRunnerV1RunnerRegisterPostRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(RegisterRunnerV1RunnerRegisterPost200Response, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'register_runner_v1_runner_register_post_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method register_runner_v1_runner_register_post" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}

        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['register_runner_v1_runner_register_post_request'] is not None:
            _body_params = _params['register_runner_v1_runner_register_post_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['APIAccessToken']  # noqa: E501

        _response_types_map = {
            '200': "RegisterRunnerV1RunnerRegisterPost200Response",
        }

        return self.api_client.call_api(
            '/v1/runner/register', 'POST',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))

    @validate_arguments
    def update_runner_health_v1_runner_runner_id_health_put(self, runner_id : Annotated[StrictInt, Field(..., description="Runner ID that can be used to update the builder health status")], update_runner_health_v1_runner_runner_id_health_put_request : UpdateRunnerHealthV1RunnerRunnerIdHealthPutRequest, **kwargs) -> object:  # noqa: E501
        """Update Runner Health  # noqa: E501

        This endpoint is used by Builder Agent (on a builder) to send to the Job Manager their health checks.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.update_runner_health_v1_runner_runner_id_health_put(runner_id, update_runner_health_v1_runner_runner_id_health_put_request, async_req=True)
        >>> result = thread.get()

        :param runner_id: Runner ID that can be used to update the builder health status (required)
        :type runner_id: int
        :param update_runner_health_v1_runner_runner_id_health_put_request: (required)
        :type update_runner_health_v1_runner_runner_id_health_put_request: UpdateRunnerHealthV1RunnerRunnerIdHealthPutRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _request_timeout: timeout setting for this request.
               If one number provided, it will be total request
               timeout. It can also be a pair (tuple) of
               (connection, read) timeouts.
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: object
        """
        kwargs['_return_http_data_only'] = True
        if '_preload_content' in kwargs:
            message = "Error! Please call the update_runner_health_v1_runner_runner_id_health_put_with_http_info method with `_preload_content` instead and obtain raw data from ApiResponse.raw_data"  # noqa: E501
            raise ValueError(message)
        return self.update_runner_health_v1_runner_runner_id_health_put_with_http_info(runner_id, update_runner_health_v1_runner_runner_id_health_put_request, **kwargs)  # noqa: E501

    @validate_arguments
    def update_runner_health_v1_runner_runner_id_health_put_with_http_info(self, runner_id : Annotated[StrictInt, Field(..., description="Runner ID that can be used to update the builder health status")], update_runner_health_v1_runner_runner_id_health_put_request : UpdateRunnerHealthV1RunnerRunnerIdHealthPutRequest, **kwargs) -> ApiResponse:  # noqa: E501
        """Update Runner Health  # noqa: E501

        This endpoint is used by Builder Agent (on a builder) to send to the Job Manager their health checks.  # noqa: E501
        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please pass async_req=True

        >>> thread = api.update_runner_health_v1_runner_runner_id_health_put_with_http_info(runner_id, update_runner_health_v1_runner_runner_id_health_put_request, async_req=True)
        >>> result = thread.get()

        :param runner_id: Runner ID that can be used to update the builder health status (required)
        :type runner_id: int
        :param update_runner_health_v1_runner_runner_id_health_put_request: (required)
        :type update_runner_health_v1_runner_runner_id_health_put_request: UpdateRunnerHealthV1RunnerRunnerIdHealthPutRequest
        :param async_req: Whether to execute the request asynchronously.
        :type async_req: bool, optional
        :param _preload_content: if False, the ApiResponse.data will
                                 be set to none and raw_data will store the
                                 HTTP response body without reading/decoding.
                                 Default is True.
        :type _preload_content: bool, optional
        :param _return_http_data_only: response data instead of ApiResponse
                                       object with status code, headers, etc
        :type _return_http_data_only: bool, optional
        :param _request_timeout: timeout setting for this request. If one
                                 number provided, it will be total request
                                 timeout. It can also be a pair (tuple) of
                                 (connection, read) timeouts.
        :param _request_auth: set to override the auth_settings for an a single
                              request; this effectively ignores the authentication
                              in the spec for a single request.
        :type _request_auth: dict, optional
        :type _content_type: string, optional: force content-type for the request
        :return: Returns the result object.
                 If the method is called asynchronously,
                 returns the request thread.
        :rtype: tuple(object, status_code(int), headers(HTTPHeaderDict))
        """

        _params = locals()

        _all_params = [
            'runner_id',
            'update_runner_health_v1_runner_runner_id_health_put_request'
        ]
        _all_params.extend(
            [
                'async_req',
                '_return_http_data_only',
                '_preload_content',
                '_request_timeout',
                '_request_auth',
                '_content_type',
                '_headers'
            ]
        )

        # validate the arguments
        for _key, _val in _params['kwargs'].items():
            if _key not in _all_params:
                raise ApiTypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method update_runner_health_v1_runner_runner_id_health_put" % _key
                )
            _params[_key] = _val
        del _params['kwargs']

        _collection_formats = {}

        # process the path parameters
        _path_params = {}
        if _params['runner_id'] is not None:
            _path_params['runner_id'] = _params['runner_id']


        # process the query parameters
        _query_params = []
        # process the header parameters
        _header_params = dict(_params.get('_headers', {}))
        # process the form parameters
        _form_params = []
        _files = {}
        # process the body parameter
        _body_params = None
        if _params['update_runner_health_v1_runner_runner_id_health_put_request'] is not None:
            _body_params = _params['update_runner_health_v1_runner_runner_id_health_put_request']

        # set the HTTP header `Accept`
        _header_params['Accept'] = self.api_client.select_header_accept(
            ['application/json'])  # noqa: E501

        # set the HTTP header `Content-Type`
        _content_types_list = _params.get('_content_type',
            self.api_client.select_header_content_type(
                ['application/json']))
        if _content_types_list:
                _header_params['Content-Type'] = _content_types_list

        # authentication setting
        _auth_settings = ['BuilderToken']  # noqa: E501

        _response_types_map = {
            '200': "object",
        }

        return self.api_client.call_api(
            '/v1/runner/{runner_id}/health', 'PUT',
            _path_params,
            _query_params,
            _header_params,
            body=_body_params,
            post_params=_form_params,
            files=_files,
            response_types_map=_response_types_map,
            auth_settings=_auth_settings,
            async_req=_params.get('async_req'),
            _return_http_data_only=_params.get('_return_http_data_only'),  # noqa: E501
            _preload_content=_params.get('_preload_content', True),
            _request_timeout=_params.get('_request_timeout'),
            collection_formats=_collection_formats,
            _request_auth=_params.get('_request_auth'))
