#!/usr/bin/env bash

timestamp=$(date +%s)

# Disable exit-on-error, due the need for error handling.
set +e

{% if issue_metrics %}
jq -n \
  --arg workflow "$GITHUB_WORKFLOW" \
  --arg repository "$GITHUB_REPOSITORY" \
  --arg event "$GITHUB_EVENT_NAME" \
  --argjson timestamp "$timestamp" \
  --arg workflow_run_id "$GITHUB_RUN_ID" \
  '{
    "workflow": $workflow,
    "repository": $repository,
    "event": $event,
    "timestamp": $timestamp,
    "workflow_run_id": $workflow_run_id
  }' > "{{ metrics_exchange_path }}/pre-job-metrics.json" || true
{% endif %}

{% if not allow_external_contributor %}
  # Check author association for events that can be triggered by external contributors
  if [[ "${GITHUB_EVENT_NAME}" == "pull_request" || "${GITHUB_EVENT_NAME}" == "pull_request_target" || "${GITHUB_EVENT_NAME}" == "pull_request_review" || "${GITHUB_EVENT_NAME}" == "pull_request_review_comment" || "${GITHUB_EVENT_NAME}" == "issue_comment" ]]; then
    AUTHOR_ASSOCIATION=$(jq -r '.pull_request.author_association // .issue.author_association // .review.author_association // .comment.author_association // empty' "$GITHUB_EVENT_PATH")
    logger -s "Author association: $AUTHOR_ASSOCIATION"

    if [[ "$AUTHOR_ASSOCIATION" != "OWNER" && "$AUTHOR_ASSOCIATION" != "MEMBER" && "$AUTHOR_ASSOCIATION" != "COLLABORATOR" ]]; then
      logger -p user.error -s "Insufficient user authorization (author_association). Only OWNER, MEMBER, or COLLABORATOR may run workflows."
      exit 1
    fi

    logger -s "The contributor check has passed, proceeding to execute jobs"
  else
    logger -s "Skipping contributor check for event: ${GITHUB_EVENT_NAME}"
  fi
{% endif %}

if [[ -n "$DOCKERHUB_MIRROR" ]]; then
  logger -s "A private docker registry is setup as a dockerhub mirror for this self-hosted runner."
  logger -s "The docker daemon on this self-hosted runner is configured to use the dockerhub mirror."
  logger -s "The URL to the private docker registry is in the DOCKERHUB_MIRROR environment variable."
  logger -s "For microk8s, see instructions here: https://microk8s.io/docs/dockerhub-limits"
fi

{% if custom_pre_job_script %}
# write the custom pre-job script to a temporary file, use special delimiter (and not EOF) to avoid same is reused in the script
cat > /tmp/custom_pre_job_script <<'cc8eaf15-148a-4f10-8553-1b23fd5729d9'
{{ custom_pre_job_script | safe }}
cc8eaf15-148a-4f10-8553-1b23fd5729d9
chmod +x /tmp/custom_pre_job_script
logger -s "Running custom pre-job script"
/tmp/custom_pre_job_script || logger -s "Custom pre-job script failed, continuing with the job"
rm /tmp/custom_pre_job_script || logger -s "Failed to remove custom pre-job script"
{% endif %}