[Unit]
Description=Timer to dispatch {{event}} event periodically
Requires=ghro.{{event}}.service

[Timer]
Unit=ghro.{{event}}.service
OnUnitInactiveSec={{interval}}m
RandomizedDelaySec={{random_delay}}m

[Install]
WantedBy=timers.target
