PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin
HTTP_PROXY={{proxies['http']}}
HTTPS_PROXY={{proxies['https']}}
NO_PROXY={{proxies['no_proxy']}}
http_proxy={{proxies['http']}}
https_proxy={{proxies['https']}}
no_proxy={{proxies['no_proxy']}}
{% if ssh_debug_info %}
TMATE-SERVER-HOST={{ssh_debug_info['host']}}
TMATE-SERVER-PORT={{ssh_debug_info['port']}}
TMATE-SERVER-RSA-FINGERPRINT={{ssh_debug_info['rsa_fingerprint']}}
TMATE-SERVER-ED25519-FINGERPRINT={{ssh_debug_info['ed25519_fingerprint']}}
{% endif %}
