table bridge github_runner_firewall
delete table bridge github_runner_firewall

table bridge github_runner_firewall {
    chain github_runner_firewall_prerouting {
        type filter hook prerouting priority 0; policy accept;

        ether type arp accept
        ct state established,related accept

        iifname "tap*" ip daddr {{ host_ip }} udp dport 53 counter accept
        iifname "tap*" ip daddr { {{ host_ip }}, 255.255.255.255 } udp dport 67 counter accept
        iifname "tap*" ip daddr {{ host_ip }} tcp dport 8080 counter accept

{% for entry in allowlist %}
        iifname "tap*" ip daddr {{ entry.ip_range }} {{ "udp" if entry.is_udp else "tcp" }} dport {{ entry.port_range }} counter accept
{% endfor %}

        iifname "tap*" counter reject with icmpx type admin-prohibited
    }
}