#!/bin/sh

set -e

# Create the runner and start the configuration experience
su - ubuntu -c "cd ~/actions-runner && ./config.sh \
    --url {{ github_url }} \
    --token {{ token }} --ephemeral --unattended \
    --labels {{ instance_labels }} --name {{ instance_name }}"

# Run runner
su - ubuntu -c "cd ~/actions-runner && /home/ubuntu/actions-runner/run.sh"

# cleanup
sleep 2
ps -aux
