#!/bin/sh

set -e

# Write .env contents
su - ubuntu -c 'cd ~/actions-runner && echo "{{ env_contents }}" > .env'

# Prepare metrics
su - ubuntu -c 'mkdir "{{ metrics_exchange_path }}"'

# Create the runner and start the configuration experience
{% if runner_group %}
su - ubuntu -c "cd ~/actions-runner && ./config.sh \
    --url {{ github_url }} \
    --runnergroup '{{ runner_group }}' \
    --token {{ token }} --ephemeral --unattended \
    --labels {{ instance_labels }} --name {{ instance_name }}"
{% else %}
su - ubuntu -c "cd ~/actions-runner && ./config.sh \
    --url {{ github_url }} \
    --token {{ token }} --ephemeral --unattended \
    --labels {{ instance_labels }} --name {{ instance_name }}"
{% endif %}

su -u ubuntu -c 'echo "pre-job-test" > "{{ metrics_exchange_path }}/pre-job-metrics.json"'
su -u ubuntu -c 'echo "post-job-test" > "{{ metrics_exchange_path }}/post-job-metrics.json"'

# Run runner
su - ubuntu -c "cd ~/actions-runner && /home/ubuntu/actions-runner/run.sh"