#!/usr/bin/env bash

# Disable exit-on-error, due the need for error handling.
set +e

# Log common env variables.
logger -s "GITHUB_EVENT_NAME: ${GITHUB_EVENT_NAME}, \
  GITHUB_REPOSITORY: ${GITHUB_REPOSITORY}, \
  GITHUB_SHA: ${GITHUB_SHA}"

# Prepare curl arguments
CURL_ARGS=(
  --silent
  --show-error
  --max-time 60
  --noproxy '*'
  --fail-with-body
  -H 'Authorization: Bearer {{one_time_token}}'
  -H 'Content-Type: application/json'
)

# Workflow dispatch and Push - Request repo-policy-compliance service check:
if [[ "${GITHUB_EVENT_NAME}" == "workflow_dispatch" ]] || [[ "${GITHUB_EVENT_NAME}" == "push" ]]; then

  logger -s "GITHUB_REF_NAME: ${GITHUB_REF_NAME}"

  curl "${CURL_ARGS[@]}" \
      -d "{\"repository_name\": \"${GITHUB_REPOSITORY}\", \"branch_name\": \"${GITHUB_REF_NAME}\", \"commit_sha\": \"${GITHUB_SHA}\"}" \
      http://{{host_ip}}:8080/${GITHUB_EVENT_NAME}/check-run
  REPO_CHECK=$?

# Pull request - Request repo-policy-compliance service check:
elif [[ "${GITHUB_EVENT_NAME}" ==  "pull_request" ]]; then

  GITHUB_SOURCE_REPOSITORY=$(cat "${GITHUB_EVENT_PATH}" | jq -r '.pull_request.head.repo.full_name')

  logger -s " \
  GITHUB_SOURCE_REPOSITORY: ${GITHUB_SOURCE_REPOSITORY} \
  GITHUB_BASE_REF: ${GITHUB_BASE_REF}, \
  GITHUB_HEAD_REF: ${GITHUB_HEAD_REF}"

  curl "${CURL_ARGS[@]}" \
      -d "{\"repository_name\": \"${GITHUB_REPOSITORY}\", \"source_repository_name\": \"${GITHUB_SOURCE_REPOSITORY}\", \"target_branch_name\": \"${GITHUB_BASE_REF}\", \"source_branch_name\": \"${GITHUB_HEAD_REF}\", \"commit_sha\": \"${GITHUB_SHA}\"}" \
      http://{{host_ip}}:8080/pull_request/check-run
  REPO_CHECK=$?

else

  logger -p user.error -s "${GITHUB_EVENT_NAME} is not supported yet. Please request it to be added on https://github.com/canonical/github-runner-operator/issues/new/choose"

  REPO_CHECK=1

fi

if [[ $REPO_CHECK -ne 0 ]]; then
  echo "The repo-policy-compliance check failed with $REPO_CHECK exit code."
  echo "Stopping execution of jobs due to repo-policy-compliance failure."
  echo "This runner will be stopped or lost, fix the repo policy compliance then rerun this job."

  # Killing the runenr.Listener process to stop the runner application.
  pkill -2 Runner.Listener

  # Shutdown the instance as a safe guard.
  bash -c "sleep 10; sudo systemctl poweroff -i" &

  exit 1

fi

echo "The repo-policy-compliance check has passed, proceeding to execute jobs"
