[Service]
{% if proxies.http %}
Environment="HTTP_PROXY={{proxies.http}}
{% endif %}
{% if proxies.https %}
Environment="HTTPS_PROXY={{proxies.https}}
{% endif %}
{% if proxies.no_proxy %}
Environment="NO_PROXY={{proxies.no_proxy}}"
{% endif %}
