name: End to end tests

on: 
  pull_request:
  workflow_call:
  workflow_dispatch:

jobs:
  e2e-test:
    name: end to end test
    runs-on: [self-hosted, linux, x64, e2e-runner]
    strategy:
      # Two tests are scheduled to test if the charm is able to spawn new runners.
      matrix:
        runner: [1, 2]
    steps:
      - name: Echo hello world
        run: echo "hello world"
  docker-test:
    name: docker test
    runs-on: [self-hosted, linux, x64, e2e-runner]
    steps:
      - name: Docker hello world
        run: docker run hello-world
    
