name: integration-tests

on:
  #pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  openstack-interface-tests-private-endpoint:
    name: openstack interface test using private-endpoint
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      juju-channel: 3.6/stable
      pre-run-script: scripts/setup-integration-tests.sh
      provider: lxd
      test-tox-env: integration-juju3.6
      modules: '["test_runner_manager_openstack"]'
      extra-arguments: '--log-format="%(asctime)s %(levelname)s %(message)s"'
      self-hosted-runner: true
      self-hosted-runner-label: stg-private-endpoint
  openstack-integration-tests-private-endpoint:
    name: Integration test using private-endpoint
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@main
    secrets: inherit
    with:
      juju-channel: 3.6/stable
      pre-run-script: scripts/setup-integration-tests.sh
      provider: lxd
      test-tox-env: integration-juju3.6
      modules: '["test_charm_metrics_failure", "test_charm_metrics_success", "test_charm_fork_repo", "test_charm_fork_path_change", "test_charm_no_runner", "test_charm_runner", "test_debug_ssh", "test_charm_upgrade",  "test_reactive", "test_jobmanager_prespawned", "test_jobmanager_reactive"]'
      extra-arguments: '-m openstack --log-format="%(asctime)s %(levelname)s %(message)s"'
      self-hosted-runner: true
      self-hosted-runner-label: stg-private-endpoint
  allure-report:
    if: ${{ (success() || failure()) && github.event_name == 'schedule' }}
    needs:
      - openstack-interface-tests-private-endpoint
      - openstack-integration-tests-private-endpoint
    uses: canonical/operator-workflows/.github/workflows/allure_report.yaml@main
