name: Integration test

on:
  pull_request:

jobs:
  integration-test-charm-no-runner:
    name: Integration test charm with no runner
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.1/stable
          provider: lxd
      - name: Enable br_netfilter
        run: sudo modprobe br_netfilter
      - name: Run Integration tests
        run: |
          tox -e integration -- \
            --keep-models \
            --path ${{secrets.E2E_TESTING_REPO}} \
            --token ${{secrets.E2E_TESTING_TOKEN}} \
            --token-alt ${{secrets.E2E_TESTING_TOKEN_ALT}} \
            tests/integration/test_charm_no_runner.py
  integration-test-charm:
    name: Integration test charm
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.1/stable
          provider: lxd
      - name: Enable br_netfilter
        run: sudo modprobe br_netfilter
      - name: Run Integration tests
        run: |
          tox -e integration -- \
            --keep-models \
            --path ${{secrets.E2E_TESTING_REPO}} \
            --token ${{secrets.E2E_TESTING_TOKEN}} \
            --token-alt ${{secrets.E2E_TESTING_TOKEN_ALT}} \
            tests/integration/test_charm.py
  integration-test-repo-policy-compliance:
    name: Integration test repo policy compliance
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup operator environment
        uses: charmed-kubernetes/actions-operator@main
        with:
          juju-channel: 3.1/stable
          provider: lxd
      - name: Enable br_netfilter
        run: sudo modprobe br_netfilter
      - name: Run Integration tests
        run: |
          tox -e integration -- \
            --keep-models \
            --path ${{secrets.E2E_TESTING_REPO}} \
            --token ${{secrets.E2E_TESTING_TOKEN}} \
            --token-alt ${{secrets.E2E_TESTING_TOKEN_ALT}} \
            tests/integration/test_repo_policy_compliance.py
  required_status_checks:
    name: Required Integration Test Status Checks
    runs-on: ubuntu-latest
    needs:
      - integration-test-charm-no-runner
      - integration-test-charm
      - integration-test-repo-policy-compliance
    if: always() && !cancelled()
    timeout-minutes: 30
    steps:
      - run: |
          [ '${{ needs.integration-test-charm-no-runner.result }}' = 'success' ] &&
          [ '${{ needs.integration-test-charm.result }}' = 'success' ] &&
          [ '${{ needs.integration-test-repo-policy-compliance.result }}' = 'success' ] || (echo integration-test failed && false)
