name: integration-tests

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  # test option values defined at test/conftest.py are passed on via repository secret
  # INTEGRATION_TEST_ARGS to operator-workflows automatically.
  integration-tests:
    name: Integration test with juju 3.1
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@disable-snap-autorefresh
    secrets: inherit
    with:
      juju-channel: 3.1/stable
      pre-run-script: scripts/setup-lxd.sh
      provider: lxd
      test-tox-env: integration-juju3.1
      modules: '["test_charm_scheduled_events", "test_debug_ssh", "test_charm_upgrade"]'
      extra-arguments: "-m openstack"
      self-hosted-runner: true
      self-hosted-runner-label: stg-private-endpoint
  openstack-interface-tests-private-endpoint:
    name: openstack interface test using private-endpoint
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@disable-snap-autorefresh
    secrets: inherit
    with:
      juju-channel: 3.6/stable
      pre-run-script: scripts/setup-lxd.sh
      provider: lxd
      test-tox-env: integration-juju3.6
      modules: '["test_runner_manager_openstack"]'
      self-hosted-runner: true
      self-hosted-runner-label: stg-private-endpoint
  openstack-integration-tests-private-endpoint:
    name: Integration test using private-endpoint
    uses: canonical/operator-workflows/.github/workflows/integration_test.yaml@disable-snap-autorefresh
    needs: openstack-interface-tests-private-endpoint
    secrets: inherit
    with:
      juju-channel: 3.6/stable
      pre-run-script: scripts/setup-lxd.sh
      provider: lxd
      test-tox-env: integration-juju3.6
      modules: '["test_charm_metrics_failure", "test_charm_metrics_success", "test_charm_fork_repo", "test_charm_runner", "test_reactive"]'
      extra-arguments: "-m openstack"
      self-hosted-runner: true
      self-hosted-runner-label: stg-private-endpoint
