name: Manual test

on:
  # push:
  pull_request:
  workflow_dispatch:

jobs:
  self-host-stg:
    name: self-hosted stg test
    runs-on: [self-hosted, ARM64, adm-test]
    strategy:
      matrix:
        # index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
        index: [0]
    steps:
      ### Network tests
      - name: Download indico resource test
        if: ${{ always() }}
        run : |
          python3 -c 'from urllib.request import Request, urlopen; from pathlib import Path; Path("image_location.json").write_bytes(urlopen("https://api.charmhub.io/api/v1/resources/download/charm_18zuSzvljyQo6mJMWjcjN2nMm1TiWKCF.indico-image_179").read())'
          export INDICO_IMAGE_NAME=($(jq -r '.ImageName' image_location.json))
          export CHARMHUB_REGISTRY_USERNAME=($(jq -r '.Username' image_location.json))
          export CHARMHUB_REGISTRY_PASSWORD=($(jq -r '.Password' image_location.json))
          sudo apt-get -y install skopeo
          sudo skopeo login registry.jujucharms.com -u $CHARMHUB_REGISTRY_USERNAME -p $CHARMHUB_REGISTRY_PASSWORD
          for ((i=0; i<10; i++)); do
            time sudo skopeo copy docker://$INDICO_IMAGE_NAME docker-archive:./indico_image.tar
            rm -f ./indico_image.tar
          done
          sleep 1
      - name: Network speed test
        if: ${{ always() }}
        run: |
          wget https://github.com/librespeed/speedtest-cli/releases/download/v1.0.10/librespeed-cli_1.0.10_linux_arm64.tar.gz
          tar -xvzf librespeed-cli_1.0.10_linux_arm64.tar.gz
          echo "---network speed test start---"
          ./librespeed-cli
          sleep 1
      - name: Docker image pull speed (pull through cache)
        if: ${{ always() }}
        run: |
          echo "---docker image pull speed test start (pull through cache)---"
          for ((i=0; i<10; i++)); do
            time docker pull busybox --quiet
            docker system prune --all -f
          done
          sleep 1
      - name: Docker image pull speed (no pull through cache)
        if: ${{ always() }}
        run: |
          echo "---docker image pull speed test start (no cache)---"
          for ((i=0; i<10; i++)); do
            time docker pull registry.hub.docker.com/library/busybox --quiet
            docker system prune --all -f
          done
          sleep 1
      - name: Docker image pull speed (mysql)
        if: ${{ always() }}
        run: |
          echo "---docker image pull speed test start (mysql)---"
          for ((i=0; i<10; i++)); do
            time docker pull ghcr.io/canonical/charmed-mysql@sha256:5082c99baa7a77c82d73247674e270838dc0a8165c02f7619cf5642d1427cba7 --quiet
            docker system prune --all -f
          done
          sleep 1
      ### CPU TESTS
      - name: CPU benchmarks
        if: ${{ always() }}
        run: |
          sudo apt-get install sysbench -y
          echo "---CPU benchmark test start---"
          sysbench cpu run
          sleep 1
      - uses: canonical/setup-lxd@v0.1.1
        if: ${{ always() }}
      - name: Charmcraft pack speed
        if: ${{ always() }}
        run: |
          lxd init --auto
          sudo snap install charmcraft --classic
          git clone https://github.com/canonical/github-runner-operator.git
          cd github-runner-operator
          # First launch
          echo "First launch"
          echo "---Charmcraft pack first launch test start---"
          time sudo charmcraft pack
          sleep 1
          # Subsequent launches with cache
          echo "---Charmcraft pack with cache start---"
          for ((i=0; i<10; i++)); do
            time sudo charmcraft pack
          done
          sleep 1
          # Subsequent launches without cache
          echo "---Charmcraft pack without cache start---"
          for ((i=0; i<10; i++)); do
            sudo charmcraft clean
            time sudo charmcraft pack
          done
          sleep 1
      - name: Postgresql charm deploy speed
        if: ${{ always() }}
        run: |
          time sudo snap install juju
          mkdir -p ~/.local/share/juju
          time juju bootstrap localhost localhost
          sleep 1
          echo "---Postgresql charm deploy speed test start---"
          for ((i=0; i<10; i++)); do
            juju add-model test
            juju deploy postgresql --channel 14/stable
            time juju wait-for unit postgresql/0 --timeout=15m0s
            juju destroy-model test --no-prompt --destroy-storage
          done
          sleep 1
      - name: Postgresql charm download speed
        if: ${{ always() }}
        run: |
          echo "---Postgresql charm download speed test start---"
          for ((i=0; i<10; i++)); do
            time (juju download postgresql --channel "14/stable"; snap download charmed-postgresql  --channel "14/edge")
          done
          sleep 1
        ### DISK TESTS
      - run: sudo apt-get update
        if: ${{ always() }}
      - run: sudo apt install -y fio
        if: ${{ always() }}
      - name: seq write
        if: ${{ always() }}
        run: sudo fio --name=write_throughput --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=1M --iodepth=64 --rw=write --group_reporting=1 --iodepth_batch_submit=64 --iodepth_batch_complete_max=64
      - run: sudo rm -f /write* /read*
        if: ${{ always() }}
      - name: rand write
        if: ${{ always() }}
        run: sudo fio --name=write_iops --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=4k --iodepth=256 --rw=randwrite --group_reporting=1 --iodepth_batch_submit=256 --iodepth_batch_complete_max=256
      - run: sudo rm -f /write* /read*
        if: ${{ always() }}
      - name: seq read
        if: ${{ always() }}
        run: sudo fio --name=write_throughput --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=1M --iodepth=64 --rw=read --group_reporting=1 --iodepth_batch_submit=64 --iodepth_batch_complete_max=64
      - run: sudo rm -f /write* /read*
        if: ${{ always() }}
      - name: rand read
        if: ${{ always() }}
        run: sudo fio --name=write_iops --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=4k --iodepth=256 --rw=randread --group_reporting=1 --iodepth_batch_submit=256 --iodepth_batch_complete_max=256
      - run: sudo rm -f /write* /read*
        if: ${{ always() }}
  #     - run: groups
  #     - run: cat /etc/docker/daemon.json
  #     - run: docker pull github-runner-dockerhub-cache.canonical.com:5000/jujusolutions/charm-base:ubuntu-20.04
  #     - run: docker pull jujusolutions/charm-base:ubuntu-20.04
  # self-host-x64:
  #   name: self-hosted x64 test
  #   runs-on: [self-hosted, X64, large, jammy]
  #   steps:
  #   - name: Set up Python
  #     uses: actions/setup-python@v5
  #     with:
  #       python-version: 3.8.10
  # github-test:
  #   name: GitHub x64 test
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Set up Python
  #       uses: actions/setup-python@v5
  #       with:
  #         python-version: 3.8.10
  #   - run: sudo apt-get update
  #   - run: sudo apt install -y fio
  #   - name: seq write
  #     run: sudo fio --name=write_throughput --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=1M --iodepth=64 --rw=write --group_reporting=1 --iodepth_batch_submit=64 --iodepth_batch_complete_max=64
  #   - run: sudo rm -f /write* /read*
  #   - name: rand write
  #     run: sudo fio --name=write_iops --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=4k --iodepth=256 --rw=randwrite --group_reporting=1 --iodepth_batch_submit=256 --iodepth_batch_complete_max=256
  #   - run: sudo rm -f /write* /read*
  #   - name: seq read
  #     run: sudo fio --name=write_throughput --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=1M --iodepth=64 --rw=read --group_reporting=1 --iodepth_batch_submit=64 --iodepth_batch_complete_max=64
  #   - run: sudo rm -f /write* /read*
  #   - name: rand read
  #     run: sudo fio --name=write_iops --directory=/ --numjobs=4 --size=3G --time_based --runtime=60s --ramp_time=2s --ioengine=libaio --direct=1 --verify=0 --bs=4k --iodepth=256 --rw=randread --group_reporting=1 --iodepth_batch_submit=256 --iodepth_batch_complete_max=256
  #   - run: sudo rm -f /write* /read*
  # self-host-test-arm64:
  #   name: self-hosted arm64 test
  #   runs-on: [self-hosted, ARM64, large]
  #   strategy:
  #     matrix:
  #       # index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
  #       index: [0]
  #   steps:
  #     # - run: lscpu
  #     # - run: df -h
  #     # - run: free -h
  #     # - run: echo $HTTP_PROXY
  #     # - run: echo $HTTPS_PROXY
  #     # - run: echo $NO_PROXY
  #     # - run: echo $DOCKERHUB_MIRROR
  #     - uses: canonical/setup-lxd@v0.1.1
  #     - run: lxd init --auto
  #       if: ${{ always() }}
  #     - run: lxc list
  #       if: ${{ always() }}
  #     - run: time juju bootstrap localhost localhost
  #       if: ${{ always() }}
  # - run: sudo snap install aproxy --edge
  # - run: sudo snap set aproxy proxy=squid.internal:3128 listen=:54969
  # - run: |-
  #     sudo nft -f - << EOF
  #     define default-ip = $(ip route get $(ip route show 0.0.0.0/0 | grep -oP 'via \K\S+') | grep -oP 'src \K\S+')
  #     define private-ips = { 10.0.0.0/8, 127.0.0.1/8, 172.16.0.0/12, 192.168.0.0/16 }
  #     table ip aproxy
  #     flush table ip aproxy
  #     table ip aproxy {
  #           chain prerouting {
  #                   type nat hook prerouting priority dstnat; policy accept;
  #                   ip daddr != \$private-ips tcp dport { 80, 443 } counter dnat to \$default-ip:54969
  #           }

  #           chain output {
  #                   type nat hook output priority -100; policy accept;
  #                   ip daddr != \$private-ips tcp dport { 80, 443 } counter dnat to \$default-ip:54969
  #           }
  #     }
  #     EOF
  # - run: nc -vz github-runner-dockerhub-cache.canonical.com 5000
  # - run: curl $DOCKERHUB_MIRROR -vvv
  # - run: sudo apt install docker.io -yq
  # - run : docker pull github-runner-dockerhub-cache.canonical.com:5000/jujusolutions/charm-base:ubuntu-20.04
  # - run : docker pull python
  # - run: echo $TMATE_SERVER_HOST
  # - run: echo $TMATE_SERVER_PORT
  # - run: sudo apt install netcat
  # - name: Test network connection to tmate ssh server
  #   run: nc -vz $TMATE_SERVER_HOST $TMATE_SERVER_PORT
  # - name: tmate ssh
  #   uses: canonical/action-tmate@debug
  # - uses: actions/checkout@v4.1.1
  # - uses: canonical/setup-lxd@v0.1.1
  # - name: Pack charm
  #   run: |
  #     sudo snap install charmcraft --classic --channel latest/stable
  #     charmcraft pack -v
  # - run: curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs >> rustup.sh
  # - run: sh rustup.sh -y
  # - run: $HOME/.cargo/bin/cargo install ripgrep
  # - name: Setup tmate session
  #   uses: mxschmitt/action-tmate@v3
  #   with:
  #     limit-access-to-actor: true
