name: Manual test

on:
  # push:
  pull_request:
  workflow_dispatch:

jobs:
  noble-large-amd64:
    strategy:
      fail-fast: false
      matrix:
        index: [0]
    runs-on: [self-hosted, self-hosted-linux-amd64-noble-large, reactive]
    steps:
      - run: lscpu
      - run: df -h
      - run: free -h
      - run: uname -a
      - run: lsb_release -a
      - run: sleep 60000000
      - name: Setup tmate session
        uses: canonical/action-tmate@main