name: Manual test

on:
  # push:
  pull_request:
  workflow_dispatch:

jobs:
  private-endpoint-ps7:
    runs-on: [self-hosted, self-hosted-linux-amd64-noble-private-endpoint-xlarge]
    steps:
      - run: lscpu
      - run: df -h
      - run: free -h
      - run: uname -a
      - run: lsb_release -a
      - name: Setup tmate session
        uses: canonical/action-tmate@main
