name: Manual test

on:
  # push:
  pull_request:
  workflow_dispatch:

jobs:
  amd64-edge:
    strategy:
      fail-fast: false
      matrix:
        index: [0]
    runs-on: [self-hosted, X64, edge]
    steps:
      - run: lscpu
      - run: df -h
      - run: free -h
      - run: uname -a
      - run: lsb_release -a
      - name: Setup tmate session
        uses: canonical/action-tmate@main