name: Tests for github-runner-manager

on:
  # pull_request:
  workflow_dispatch:

jobs:
  unit-tests-github-runner-manager:
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: true
      self-hosted-runner-label: edge
      working-directory: ./github-runner-manager/
