name: Tests for github-runner-manager

on:
  pull_request:

jobs:
  application-unit-tests:
    name: Unit tests for github-runner-manager
    uses: canonical/operator-workflows/.github/workflows/test.yaml@main
    secrets: inherit
    with:
      self-hosted-runner: true
      self-hosted-runner-label: edge
      working-directory: ./github-runner-manager/
  application-integration-tests:
    name: Integration tests for github-runner-manager
    runs-on: [self-hosted, pfe-ci]
    steps:
      - name: Checkout code
        uses: actions/checkout@v5.0.1
      - name: Setup Astral UV
        uses: astral-sh/setup-uv@v7
      - name: Install tox with UV
        run: uv tool install tox --with tox-uv
      - name: Install the github-runner-manager application package
        working-directory: ./github-runner-manager/
        run: uv pip install -e .
      - name: Run integration tests
        working-directory: ./github-runner-manager/
        env:
          # GitHub configuration
          INTEGRATION_TOKEN: ${{ secrets.INTEGRATION_TEST_SECRET_ENV_VALUE_2 }}
          INTEGRATION_TOKEN_ALT: ${{ secrets.INTEGRATION_TEST_SECRET_ENV_VALUE_3 }}
          # OpenStack configuration
          OS_AUTH_URL: ${{ vars.INTEGRATION_TEST_OPENSTACK_AUTH_URL }}
          OS_PROJECT_NAME: ${{ vars.INTEGRATION_TEST_OPENSTACK_PROJECT_NAME }}
          OS_USERNAME: ${{ vars.INTEGRATION_TEST_OPENSTACK_USERNAME }}
          OS_PASSWORD: ${{ secrets.INTEGRATION_TEST_SECRET_ENV_VALUE_1 }}
          OS_NETWORK: ${{ vars.INTEGRATION_TEST_OPENSTACK_NETWORK_NAME }}
          OS_REGION_NAME: ${{ vars.INTEGRATION_TEST_OPENSTACK_REGION_NAME }}
        run: tox -e integration -- -v --tb=native -s --github-repository=${{ vars.INTEGRATION_TEST_PATH }}
