name: Workflow Dispatch Tests (ssh-debug/tmate)

on:
  # Manually dispatched workflow action
  workflow_dispatch:
    inputs:
      runner:
        description: 'Self hosted gh runner'
        required: true

jobs:
  workflow-dispatch-tests:
    runs-on: [self-hosted, linux, "${{ inputs.runner }}"]
    steps:
    - name: Wait
      run: sleep 300
    - name: Setup tmate session
      uses: canonical/action-tmate@chore/env_var_change
      timeout-minutes: 5
